.answer {
  margin-top: 80px;
  padding: 20px;

  &__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
  }

  .ant-table {
    th,
    td {
      text-align: center;
    }
  }
}
